<!DOCTYPE html>
<html ng-app="deepAncestryApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search - DeepAncestry</title>
    @Styles.Render("~/Content/libs")
    @Styles.Render("~/Content/app")
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Deepend<strong>Ancestry</strong></h1>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/libs")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
